{% extends "logged-in.html" %}
{% block subtitle %}Browse Profiles!{% endblock %}
{% block content %}
	<h2>Browse Profiles</h2>
	<h4>All user profiles are listed in alphabetical order by name, then email. Click to view profile page.</h4> <br>
	{% if data == [] %}
		<h3><em>No Results Found</em></h3>
	{% else %}
		<div class="list-group">
			{% for item in users %}
			<a href="{{url_for('profile',user_email=item.user_email)}}" class="list-group-item">
				<h4 class="list-group-item-heading">{{ item.name }}</h4>
				<p class="list-group-item-text">Email: {{ item.user_email }} <br> Description: {{ item.description }} <br> Major: {{ item.major }} </p>
			</a>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}