<html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <body>
    <h1>Groupr</h1>
    <p> Groupr is the best way to create and join Study Groups!</p>
    <button type="button">Home</button>
    <button type="button">My Profile</button>
    <button type="button">My Groups</button>
    <button type="button">Sign Out</button>
    <form method="GET" action="http://chalice.cloudapp.net:8111/creategroup/">
      Group Name: <input type="text" name="groupname"/><br/>
      Description: <input type="text" name="description"/><br/>
      Size Limit: <input type="text" name="limit"/><br/>
      Open Group: <input type="checkbox" name="status" checked/><br/>
      <input type="submit" value="Create Group"/>
    </form>
  </body>
</html>
