{% extends "logged-in.html" %}
{% block subtitle %}Create Group{% endblock %}

{% block content %}

  
  <div class="well">
    <form class="form-horizontal" id="the-form" method="POST" action="{{ url_for('createGroup') }}">
      <fieldset>
        <legend>Create New Group</legend>
        <div class="form-group">
          <label class="col-lg-2 control-label">Group Name: </label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="groupname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Size Limit (must be 2 or more):  </label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="limit" id="limit">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="is-unlimited"> Check if Unlimited Number of Members!
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Description: </label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" name="description"></textarea>
            <span class="help-block">What is your group all about? Is it for a specific project, or a general study group? Is it a hub to share resources or ask questions? </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Status: </label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="open" checked="">
                Open (group can be searched for, users can request to join)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="closed">
                Closed (group cannot be searched for)
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Course and Section: </label>
          <div class="col-lg-10">
            <select class="form-control" id="course" name="course">
              <option selected="selected" disabled>Select a course first!</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <!-- Will dynamically generate all appropriate sections-->
            <select class="form-control" id="section" name="section">
              
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <input id="submission" type="submit" class="btn btn-primary" value="Submit" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <script>
    $('#course').on('change', function() {
      console.log('hello');
      $('#section').empty();
      $('#section').append('<option>' + $('#course').val() + '</option>');
    });

    $('#the-form').submit( function() {
      if parseInt($('#limit').val()) < 2 {
        alert('A group must have a minimum limit of 3 members!');
        event.preventDefault();
      }
    });
      
  </script>
{% endblock %}
