<html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<h1>Groupr</h1>
  	<p> Groupr is the best way to create and join Study Groups!</p>
  	<form method= "GET" action="http://chalice.cloudapp.net:8111/navigate">
  		<input type="submit" name="home" value="Home"/>
  		<input type="submit" name="profile" value="Profile"/>
  		<input type="submit" name="groups" value="Groups"/>
  		<input type="submit" name="signout" value="Sign Out"/>
  	</form>
	<body>
		<p> Signed in as {{user_email}}</p>
		<h1>{{group_name}}</h1>
		<p>Course Title: {{course_title}}</p>
		<p>Size Limit: {{size_limit}}</p>
		<p>Group Description: {{group_description}}</p>
		<p>Group Admin: {{group_admin}}</p>
		<p>Group Members:</p>
		<div> {%for member in members%}
			<div>{{member}}</div>
			{% endfor %}
		</div>
		<form method="GET" action="http://chalice.cloudapp.net:8111/gotogroup/">
			<p>Posts:</p>
			<input type="text" name="post"/><br/>
			<input type="submit" name="Submit"/><br/>
		</form>
		{%for n in data%}
		<div>{{n}}</div>
		{% endfor %}
	</body>
</html>