{% extends "logged-in.html" %}
{% block subtitle %}Welcome!{% endblock %}


{% block content %}
	{% with messages = get_flashed_messages(with_categories=true) %}
  	{% if messages %}
    	{% for category, message in messages %}
				<div class="alert alert-dismissible alert-{{category}}">
				  <button type="button" class="close" data-dismiss="alert">X</button>
				  {{ message }}
				</div>
    	{% endfor %}
  	{% endif %}
	{% endwith %}

	<h1>Dashboard</h1>
	<p class="lead"> Hello {{name}}! You're signed in with {{user_email}}</p>
	<hr>
	<p class="lead"> You administrate these groups: </p>
	{% for group in groups %}
		{% if user_email == group['user_email'] %}
			<div class="col-lg-6">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default" href="{{url_for('group',group_id=group.group_id)}}">{{group.group_name}}</a>
					<a class="btn btn-danger" href="{{url_for('manage_group',group_id=group.group_id)}}">Manage Group</a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<br><br>
	<hr>
	<p class="lead">Your Pending Requests:</p>
	{% for r in requests_admin %}
		<div class="well">
			{{r.old_admin}} wishes to designate you as the new admin.
			<div class="btn-group pull-right">
				<a class="btn btn-success" href="{{url_for('accept_admin', group_id=r.group_id)}}">Accept</a>
				<a class="btn btn-danger" href="{{url_for('decline_admin', group_id=r.group_id)}}">Decline</a>
			</div>
			<br> Group: {{r.group_name}}
		</div>
	{% endfor %}

	{% for request in requests %}
		<div class="well">
			{{request.group_name}} wants you to join!
			<div class="btn-group pull-right">
				<a class="btn btn-success" href="{{url_for('accept_request', group_id=request.group_id)}}">Accept</a>
				<a class="btn btn-danger" href="{{url_for('decline_request', group_id=request.group_id)}}">Decline</a>
			</div>
			<br> Message: {{request.message}}
		</div>
	{% endfor %}
	{% if requests_admin == [] and requests == [] %}
		<h3><em> No pending requests! </em></h3>
	{% endif %}

	<!-- look from requests from all groups to this user -->
	<hr>
	<form method="POST" action="{{url_for('home')}}">
		<div class="form-group">
			<label class="control-label">Search Open Groups by Name</label>
			<div class="input-group">
				<input type="text" class="form-control" name="query"/>
				<span class="input-group-btn">
					<button class="btn btn-primary">Search</button>
				</span>
			</div>
		</div>
	</form>
	{% if results is defined %}
		{% if results == [] %}
			<h3><em>No Results Found</em></h3>
		{% else %}
			<div class="list-group">
				{% for item in results %}
				<li class="list-group-item">
					<h4>{{ item["group_name"] }}</h4>
					{% if item['in_users_groups'] == True %}
						<a class="btn btn-default pull-right" style="display:inline-block" href="{{url_for('group', group_id=item.group_id)}}">Go to Group</a>
					{% elif item['in_users_groups'] == False and item['joinable'] == True %}
						<button type="button" class="btn btn-danger pull-right" style="display:inline-block" data-toggle="modal" data-target="#reqModal-{{item.group_id}}"><span class="glyphicon glyphicon-star-empty"></span> &nbsp; Request to Join</button>
					{% else %}
					{% endif %}
					<p>Admin: {{ item["user_email"] }} <br> Description: {{ item["description"] }}</p>
				</li>
				{% endfor %}
			</div>
		{% endif %}
	{% endif %}
{% endblock %}

{% block modals %}
	{% for item in results %}
		{% if item['in_users_groups'] == False and item['joinable'] == True %}
			<div class="modal fade" id="reqModal-{{item.group_id}}" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
			        <h4 class="modal-title">Request to Join: {{item.group_name}}</h4>
			      </div>
			      <div class="modal-body">
			        <form id="user-req-group-{{item.group_id}}" method="POST" action="{{url_for('user_to_group_request', group_id=item.group_id)}}">

						    <div class="form-group">
						    	<label class="control-label">Message</label>
						    	<textarea name="message-{{item.group_id}}" id="message-{{item.group_id}}" class="form-control"></textarea>
						    </div>

					    </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary send" id="{{item.group_id}}">Send Request</button>
			      </div>
			    </div>
			  </div>
			</div>

			<script>
				$('.send').click(function() {
					var whichModal = $(this).attr('id');
					console.log(whichModal);
					if ($.trim($('#message-' + whichModal).val()) === '') {
						alert('Include a message!');
					}
					else {
						$('#user-req-group-' + whichModal).submit();
					}
				});
			</script>
		{% endif %}
	{% endfor %}
{% endblock %}