{% extends "base.html" %}
{% block title %}Welcome to Groupr!{% endblock %}

{% block body %}
  <div class="container">
    
    <h1 class="huge-header">Groupr</h1>
    <p class="lead"> The best way to create and join study groups!</p>
    <a class="btn btn-lg btn-primary" href="{{url_for('login')}}">Have an Account? Sign In! &nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span> </a>
    <hr><br>
  
    {% if error %}
      <div class="alert alert-danger alert-dismissible">{{error}}</div>
    {% endif %}

    <div class="form-group">
      <form method="POST" action="{{url_for('index')}}">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputUsername1">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
        </div>
        <label >Gender</label>
        <select class="form-control" name="gender">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select></br>
        <div class="form-group">
          <label for="exampleInputMajor1">Major</label>
          <input name="major" type="text" class="form-control" id="exampleInputMajor1" placeholder="major">
        </div>
        <label >Year</label>
        <select class="form-control" name="year">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select><br/>
        <label >Housing</label>
        <select class="form-control" name="housing">
          <option value="Claremont">47 Claremont</option>
          <option value="600West">600 West 113th Street</option>
          <option value="Broadway">Broadway Hall</option>
          <option value="Carlton">Carlton Arms</option>
          <option value="Carman">Carman Hall</option>
          <option value="EC">East Campus</option>
          <option value="Furnald">Furnald</option>
          <option value="Greek">Greek Brownstones</option>
          <option value="Harmony">Harmony Hall</option>
          <option value="Hartley">Hartley Hall</option>
          <option value="Hogan">Hogan Hall</option>
          <option value="JohnJay">John Jay Hall</option>
          <option value="McBain Hall">McBain Hall</option>
          <option value="Brownstones">Residential Brownstones</option>
          <option value="River">River Hall</option>
          <option value="Ruggles">Ruggles Hall</option>
          <option value="Schapiro">Schapiro Hall</option>
          <option value="SIC">SIC Residences</option>
          <option value="Wallach">Wallach Hall</option>
          <option value="Watt">Watt Hall</option>
          <option value="Wein">Wien Hall</option>
          <option value="Woodbridge">Woodbridge Hall</option>
        </select><br/>
        <div class="form-group">
          <label for="exampleInputDescription1">Description</label>
          <textarea name="description" type="text" class="form-control" id="exampleInputDescription1" placeholder="Description"></textarea>
        </div>
        <br>
        <input type="submit" value="Sign Up" class="btn btn-success btn-lg"/>
      </form>
    </div>
  </div>
{% endblock %}
