{% extends "base.html" %}

{% block title %}Groupr: {% block subtitle %}{% endblock %}{% endblock%}

{% block body %}
	<div class="container">
		<nav>
			<h1 class="pull-left" id="to-dash"><a href="{{url_for('home')}}">Groupr</a></h1>
			<ul class="nav nav-pills pull-right">
			  <li {% if request.endpoint == 'my_profile'%}class="active"{% endif %}><a href="{{url_for('my_profile')}}">My Profile</a></li>
			  <li {% if request.endpoint == 'browse_groups' or request.endpoint == 'course' or request.endpoint == 'section' %}class="active"{% endif %}><a href="{{url_for('browse_groups')}}">Browse Open Groups</a></li>
			  <li {% if request.endpoint == 'profile' or request.endpoint == 'browse_profiles' %}class="active"{% endif %}><a href="{{url_for('browse_profiles')}}">Browse Profiles</a></li>
			  <li class="dropdown {% if request.endpoint == 'group' or request.endpoint == 'createGroup' %}active{% endif %}">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
			      My Groups<span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			      {% for group in groups %}
			      	<li><a href="{{ url_for('group',group_id=group.group_id)}}">{{group.group_name}}</a></li>
			      {% endfor %}
			      <li class="divider"></li>
			      <li><a href="{{ url_for('createGroup') }}"><span class="glyphicon glyphicon-plus-sign"></span> Create New Group </a></li>
			    </ul>
			  </li>
			  <li><a href="{{url_for('signout')}}">Sign Out</a></li>
			</ul>
		</nav>		

		<br><br>

		<div id="container2">
			{% block content %}{% endblock %}
		</div>
	</div>

	{% block modals %}{% endblock %}
{% endblock %}