{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="huge-header">Groupr</h1>
    <script>
      $('.huge-header').on('click', function () {
        window.location.href = "{{ url_for('index')}}";
      });
    </script>
    <p class="lead">Sign In</p>
    {% if error %}
      <div class="alert alert-danger alert-dismissable">{{error}}</div>
    {% endif %}
    <br>
    <form method="POST" action="{{url_for('login')}}">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputUsername1">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
        </div>
      <input class="btn btn-success btn-lg" type="submit" value="Log In!">
    </form>
  </div>  
{% endblock %}
