{% extends "logged-in.html" %}
{% block subtitle %}{{user.name}}'s Profile{% endblock %}

{% block content %}
	<h1> {{user.name}}'s Profile </h1>
	<hr>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;&nbsp; {{user.name}}</h3>
	  </div>
	  <ul class="list-group">
	  	<li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;&nbsp; {{user.user_email}}</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;&nbsp; {{user.major}}</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-heart"></span> &nbsp;&nbsp;&nbsp; 
	  	{% if user.gender == 'F' %}
	  		Female
	  	{% else %}
	  		Male
	  	{% endif %}
	  	</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-education"></span> &nbsp;&nbsp;&nbsp; 
	  		{% if user.year == 1 %}
	  			Freshman
	  		{% elif user.year == 2 %}
	  			Sophomore
	  		{% elif user.year == 3 %}
	  			Junior
	  		{% elif user.year == 4 %}
	  			Senior
	  		{% else %}
	  			Grad Student
	  		{% endif %}

	  	</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;&nbsp; {{user.housing}}</li>
	  </ul>
	  <div class="panel-body">
	    {{user.description}}
	    <br><br>
	  </div>
	</div>


{% endblock %}