{% extends "logged-in.html" %}
{% block subtitle %}{{user.name}}'s Profile{% endblock %}

{% block content %}
	<h1> {{user.name}}'s Profile </h1>
	<hr>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;&nbsp; {{user.name}}</h3>
	  </div>
	  <ul class="list-group">
	  	<li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;&nbsp; {{user.user_email}}</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;&nbsp; {{user.major}}</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-heart"></span> &nbsp;&nbsp;&nbsp; 
	  	{% if user.gender == 'F' %}
	  		Female
	  	{% else %}
	  		Male
	  	{% endif %}
	  	</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-education"></span> &nbsp;&nbsp;&nbsp; 
	  		{% if user.year == 1 %}
	  			Freshman
	  		{% elif user.year == 2 %}
	  			Sophomore
	  		{% elif user.year == 3 %}
	  			Junior
	  		{% elif user.year == 4 %}
	  			Senior
	  		{% else %}
	  			Grad Student
	  		{% endif %}

	  	</li>
	  	<li class="list-group-item"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;&nbsp; {{user.housing}}</li>
	  </ul>
	  <div class="panel-body">
	    {{user.description}}
	    <br><br>
	  </div>
	</div>

	{% if is_admin == True and is_me == False %}
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#inviteModal">
			<span class="glyphicon glyphicon-star-empty"></span> &nbsp; Invite to Group!
		</button>
	{% endif %}

{% endblock %}

{% block modals %}
	<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
	        <h4 class="modal-title">Invite to Group</h4>
	      </div>
	      <div class="modal-body">
	        <form id="group-req-user" method="POST" action="url_for('group_to_user_request', user_email={{user.user_email}})">
				   	<div class="form-group">
				   		<label class="control-label">Invite to which group?</label>
			        <select class="form-control" id="whichgroup" name="whichgroup">
			          {% for group in admin_list %}
			          	<option value="{{group.group_id}}">ID {{group.group_id}}: {{group.group_name}}</option>
			          {% endfor %}
			        </select>
				    </div>
				    <div class="form-group">
				    	<label class="control-label">Message</label>
				    	<textarea name="message" id="message" class="form-control"></textarea>
				    </div>
			    </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="send">Send Request</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
		$('#send').click(function() {
			if ($.trim($('#message').val()) === '') {
				alert('Include a message!');
			}
			else {
				$('#group-req-user').submit();
			}
		});
	</script>

{% endblock %}